<h1 class="mt-4 mb-2">Hello, I'm Sabrina Dowla</h1>
<h3>
  Angular Developer | Full-Stack Developer • Angular • Java Spring Boot • MySQL
</h3>

<p>
  I'm a passionate full-stack developer with experience building scalable web
  applications using Angular, Java Spring Boot, and modern web technologies.<br />
  I love clean code, great UI/UX, and solving real-world problems.
</p>

<a routerLink="/projects" class="btn btn-secondary me-2">View My Projects</a>
<a routerLink="/contact" class="btn btn-outline-secondary">Contact Me</a>

<img
  src="assets/sabrina.png"
  class="rounded-circle img-thumbnail"
  width="150"
  alt="Profile photo"
/>
